.aco{
  &-wrap{
    &.active{
      .aco-conts{
        visibility: visible;
        height: 100px;
      }
    }
  }
  &-tit{
    width:100%;
    height: 30px;
    font-size:20px;
    background:green;
    cursor: pointer;
    text-align:left;
    border-bottom:2px solid red;
  }
  &-conts{
    visibility: hidden;
    width:100%;
    height: 0;
    background:gray;
    transition: height .5s ease, visibility .5s ease;
  }
}