*{margin:0;padding:0;}
html{
  font-size: 62.5%;
  // @media screen and (min-width: 0) { font-size: 55.5% !important; }
  // @media screen and (min-width: 360px) { font-size: 62.5% !important; }
  // @media screen and (min-width: 375px) { font-size: 54.5% !important; }
  // @media screen and (min-width: 412px) { font-size: 71.527% !important; }
  // @media screen and (min-width: 414px) { font-size: 71.875% !important; }
  // @media screen and (min-width: 768px) { font-size: 62.5% !important; }
}
html, body{height:100%;}
button{appearance: none;border:0 none;}