.svg-circle{
  display: block;
  width: 200px;
  height: 200px;
  margin: 100px;
  svg{
    width:100%;
    height:100%;
    transform: rotate(-90deg);
    background-color: red;
  }
  circle {
    fill: none;
    stroke-width: 10;
    stroke: green;
    stroke-linecap: round;
    stroke-dasharray: 565;
    // stroke-dashoffset: 0;
    // transition: stroke-dashoffset 1s ease;
    // &:hover{
    //   stroke: yellow;
    //   transform: scale(1.1);
    // }
  }
  .active{
    stroke-dashoffset: 170;
  }
  .text-rotate{
    fill: blue;
  }
  text{transform: rotate(90deg);transform-origin: center;}
  tspan{
    font-size: 30px;
    line-height: 1.2;
  }
}