.swiper{
  &-slide{
    height: 100vh;
    font-size: 15px;
    &:nth-child(even){ background: gray; }
    &:nth-child(odd){ background: darkgray; }
  }
}
.btn-swiper{
  z-index: 100;
  position: absolute;
  left: 0;
  top: 0;
  background: red;
}