<template>
  <div class="svg-circle">
    <svg>
      <circle cx="100" cy="100" r="90">
        <animate attributeName="stroke-dashoffset" from="565" to="0" dur="2s" repeatCount="1" fill="freeze"></animate>
      </circle>
      <text x="50%" y="50%" fill="#000" dominant-baseline="middle" text-anchor="middle">
        <tspan>80</tspan>
        <tspan dx="2">%</tspan>
      </text>
    </svg>
  </div>
</template>
<script lang="ts">
import { defineComponent, reactive } from 'vue'

export default defineComponent({
  props: {
    //
  },
  setup (props, { emit }) {
    const state = reactive({
      test: null
    })
    const methods = initMethods(state, emit, props)
    return {
      state,
      ...methods
    }
  }
})
const initMethods = (state:any, emit:any, props:any) => {
  // const test = () => {
  //   return 'a'
  // }
  return {
    // test
  }
}
</script>
