<template>
  <div v-for="(item, index) in state.aco" :key="index" class="aco-wrap" :class="{'active':item.acoActive}">
    <button type="button" class="aco-tit" @click="clickFun(item)">{{item.title}}</button>
    <div class="aco-conts">{{item.conts}}</div>
  </div>
</template>
<script lang="ts">
import { defineComponent, reactive } from 'vue'
export interface object1{
  title: string,
  conts: string,
  acoActive: boolean
}
export default defineComponent({
  components: {
    //
  },
  props: {
    //
  },
  setup (props, { emit }) {
    const state = reactive({
      isActive: null,
      aco: [
        { title: '타이틀1', conts: '답변 내용1', acoActive: false },
        { title: '타이틀2', conts: '답변 내용2', acoActive: false },
        { title: '타이틀3', conts: '답변 내용3', acoActive: false },
        { title: '타이틀4', conts: '답변 내용4', acoActive: false }
      ]
    })
    const methods = initMethods(state, emit, props)

    return {
      state,
      ...methods
    }
  }
})
const initMethods = (state:any, emit:any, props:any) => {
  const clickFun = (item:object1) => {
    if (state.isActive !== null) {
      state.isActive.acoActive = false
    }
    state.isActive = item
    item.acoActive = !item.acoActive
  }
  return {
    clickFun
  }
}
</script>
