<template>
  <swiper
    :modules="modules"
    :slides-per-view="3"
    :space-between="50"
    navigation
    :pagination="{ clickable: true }"
    @swiper="onSwiper"
    @slideChange="onSlideChange"
  >
    <swiper-slide>Slide 1</swiper-slide>
    <swiper-slide>Slide 2</swiper-slide>
    <swiper-slide>Slide 3</swiper-slide>
    <swiper-slide>Slide 4</swiper-slide>
    <swiper-slide>Slide 5</swiper-slide>
    <swiper-slide>Slide 6</swiper-slide>
  </swiper>
  <button type="button" class="btn-swiper" @click="btnSwiper">외부 버튼</button>
</template>
<script lang="ts">
// Import Swiper Vue.js components
import { defineComponent, reactive } from 'vue'
import { Navigation, Pagination, Swiper as SwiperClass } from 'swiper' // swiper 객체를 외부에서도 사용하기 위해 SwiperClass[alias(별칭)] 정의
import { Swiper, SwiperSlide } from 'swiper/vue' // swiper component module을 사용하기 위해 호출

// state에서 사용하기 위해 타입 정의
export interface iState {
  swiper: SwiperClass | null
}

export default defineComponent({
  components: {
    Swiper,
    SwiperSlide
  },
  props: {
    // setup에 변수 넘겨주기 위해 임의로 표기
  },
  setup (props, { emit }) {
    const onSwiper = (swiper:SwiperClass) => {
      state.swiper = swiper
    }

    const onSlideChange = () => {
      console.log('slide change')
    }

    const state = reactive({
      swiper: null
    }) as iState

    const methods = initMethods(state, emit, props)

    return {
      onSwiper,
      onSlideChange,
      modules: [Navigation, Pagination],
      state,
      ...methods
    }
  }
})
const initMethods = (state:any, emit:any, props:any) => {
  const btnSwiper = () => {
    state.swiper.slideTo(0)
  }
  return {
    btnSwiper
  }
}
</script>
