<template>
  <template v-if="$route.meta.layout === 'base'">
    <header-wrap/>
    <router-view/>
    <footer-wrap/>
  </template>
  <template v-else>
    <router-view/>
  </template>
</template>
<script lang="ts">
import { defineComponent } from 'vue'
import headerWrap from '@/components/layout/headerWrap.vue'
import footerWrap from '@/components/layout/footerWrap.vue'

export default defineComponent({
  name: 'App',
  components: {
    headerWrap,
    footerWrap
  }
})
</script>
<style lang="scss">
@import "@/assets/scss/style.scss";
</style>
